@font-face {
    font-family: 'Ubuntu';
    src: url("Ubuntu.ttf");
}

body {
    margin: 0;
}

.IceTeaContainer-global {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 100%;
}

.IceTeaContainer-global-content {
    min-height: 80%;
    padding: 10px;
}

.IceTeaContainer-global-footer {
    min-height: 100px;
    padding: 20px;
    background-color: #F3F3F3;
    color: #777;
    text-align: center;
    font-size: 14px;
}

.IceTeaContainer-global-footer a {
    text-decoration: none;
    color: #555;
}

.IceTeaContainer-navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 45px;
    background-color: white;
    box-shadow: 0 1px 3px #AAA;
    cursor: default;
    white-space: nowrap;
}

.IceTeaContainer-navbar > a {
    margin: 0 7px;
}

.IceTeaContainer-navbar-icon {
    text-align: center;
    line-height: 45px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 0 25px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("icon.png");
    background-size: 40px;
}

.IceTeaContainer-navbar-icon:hover {
    background-color: #F0F0F0;
}

.IceTeaContainer-navbar-icon:focus {
    background-color: #F0F0F0;
}

.IceTeaContainer-navbar-item {
    text-align: center;
    line-height: 45px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    color: #222;
    padding: 0 10px;
    height: 100%;
    vertical-align: top;
}

.IceTeaContainer-navbar-item-active div {
    border-bottom: 2px solid #e92f60;
    box-sizing: border-box;
}

.IceTeaContainer-navbar-item-active:hover div {
    color: #e92f60;
    background-color: #F0F0F0;
}

.IceTeaContainer-navbar-item:hover {
    color: #e92f60;
    background-color: #F0F0F0;
    border-bottom: 2px solid #e92f60;
    box-sizing: border-box;
}

.IceTeaContainer-navbar-search-group {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
    margin-left: 15px;
}

.IceTeaContainer-navbar-search {
    width: 100%;
    height: 30px;
    border: none;
    background-color: #F0F0F0;
    border-radius: 0.25rem;
    color: #444;
    padding-left: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}

.IceTeaContainer-navbar-search:focus {
    background-color: #DADADA;
}

.IceTeaContainer-navbar-searchresults-group {
    position: relative;
    top: 15px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    box-shadow: 0 1px 5px #AAA;
    border-radius: .25rem;
}

.IceTeaContainer-navbar-searchresults-group.hidden {
    display: none;
}

.IceTeaContainer-navbar-searchresults-item {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    width: 100%;
    color: #606060;
    text-align: inherit;
    box-sizing: border-box;
    white-space: normal;
}

.IceTeaContainer-navbar-searchresults-item:hover {
    background-color: #EEE;
}

.IceTeaContainer-navbar-searchresults-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.IceTeaContainer-navbar-searchresults-item:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.IceTeaContainer-navbar-searchresults-item-title {
}

.IceTeaContainer-navbar-searchresults-item .label-status {
    float: right;
    border-radius: 0.2rem;
    padding: 1px 7px;
    font-size: 14px;
}

.IceTeaContainer-navbar-searchresults-item .status-inprogress {
    color: #FAFAFA;
    background-color: rgb(223, 37, 89);
}

.IceTeaContainer-navbar-searchresults-item .status-investigating {
    color: #FAFAFA;
    background-color: rgb(18, 127, 163);
}

.IceTeaContainer-navbar-searchresults-item .status-open {
    color: rgb(78, 107, 223);
    background-color: white;
    border: solid 1px rgb(78, 107, 223);
}

.BaseStyle-page-content {
    margin: 60px 0;
    width: 100%;
}
